<%- include('partials/head'); -%>

    <body>
        <header class="pb-4">
            <%- include('partials/nav_bar'); -%>
        </header>
        <div class="container">
            <h1>Perguntas</h1>
            <a href="/questions" class="btn btn-primary mt-4 mb-4">Perguntar</a>
            <% questions.forEach(question=> { %>
                <div class="card">
                    <div class="card-body">
                        <%= question.title %>
                    </div>
                    <div class="card-footer">
                        <a href="/question/<%= question.id %>" class="btn btn-success">Responder</a>
                    </div>
                </div>
                <%})%>
        </div>
        <%- include('partials/footer'); -%>